@import "../../../../App.css";

.carrousel-container {
  display: block;
  min-height: 50vh;
  position: relative;
  min-width: 100%;
}

@media screen and (max-width: 900px) {
  .carrousel-container {
    top: 4rem;
    max-width: 10rem;
    min-width: 100vw;
    min-height: 10rem;
    max-height: 10rem;
  }

  .carrousel-image {
    max-height: fit-content;
  }

  .carrousel-left-arrow {
    visibility: hidden;
  }

  .carrousel-right-arrow {
    visibility: hidden;
  }
}

@media screen and (max-width: 1100px) {
  .carrousel-container {
    top: 4rem;
    max-height: 25rem;
  }

  .carrousel-image {
  }

  .carrousel-left-arrow {
    visibility: hidden;
  }

  .carrousel-right-arrow {
    visibility: hidden;
  }
}

.carrousel-left-arrow,
.carrousel-right-arrow {
  width: 2em;
  font-size: 1.5em;
  opacity: 1;
  color: var(--white);
  background-color: transparent;
  position: absolute;
  top: 30%;
  border: none;
}

.carrousel-left-arrow {
  left: 0;
}

.carrousel-right-arrow {
  right: 0;
}

.carrousel-left-arrow:hover,
.carrousel-right-arrow:hover {
  filter: brightness(150%);
  cursor: pointer;
  transition: 0.3s;
}

.carrousel-image {
  width: 100%;
  height: 100%;
}

.carrousel-image-active {
  opacity: 1;
  transition: all 4s ease-in-out;
  top: 0;
  /* max-height: fit-content;
  min-height: fit-content; */
}

.carrousel-image-inactive {
  opacity: 0;
  transition: all 4s ease-in-out;
  top: 0;
  /* max-height: fit-content;
    min-height: fit-content; */
}

/* MOBILE */
/* @media screen and (max-width: 550px) {

} */
