.hidden{
    opacity: 0;
}
.header--menu--icon{
    opacity: 1;
}

#toggle{
    margin-left: 1.5em;
}

@media (min-width: 300px){

#toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    padding: 10px;
}
.toggle-btn{
    background-color: transparent;
    width: 100%;
    height:100%;

}
button {
    background-color: transparent;
    border: none;
    height: 50%;
    width: 50%;
    color: var(--white);
}
button:hover {
    cursor: pointer;
}
}