.create-user-main-container{
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  font-family: "Oswald", "Roboto";
  font-size: 1.5rem;
  color: white;
  
  background-color: transparent;
}

.create-user-sub-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
