@import "./index.css";

.billboard--notfound {
  background-color: var(--white);
  padding: 1em;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.billboard {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 2em;
  font-family: "Roboto";
  margin: 2em 0;
  user-select: none;
  width: 60vw;
}

.billboard .billboard--container {
  color: var(--white);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 0.5s;
}
.billboard--container:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}

.billboard--description {
  display: none;
  line-height: 1.25em;
  color: var(--white);
  font-size: 1em;
  margin: 1em 0 0 0;
}

.billboard--poster {
  border: 2px solid transparent;
  transition: border 0.3s;
}
.billboard--container:hover .billboard--poster {
  border: 2px solid var(--white);
  transition: 0.3s;
}

/* SI LA PELÍCULA ES UN ESTRENO */
.billboard--comingsoon {
  position: absolute;
  font-weight: bold;
  color: var(--white);
  background-color: var(--red);
  top: -1em;
  left: -0.5em;
  padding: 1em;
  border-radius: 15px 0 0 0;
  box-shadow: 0px 0px 10px 0px var(--black);
  -webkit-box-shadow: 0px 0px 10px 0px var(--black);
  -moz-box-shadow: 0px 0px 10px 0px var(--black);
}

.billboard--description {
  display: none;
}

/* TABLET */
@media screen and (max-width: 1280px) {
  .billboard {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    margin: 2em auto;
    gap: 2em;
    width: 80vw;
  }
}
/* MOBILE */
@media screen and (max-width: 550px) {
  /* MODIFICADOR DE LA CARD DE LA PELICULA, SI NO SE VE EN EL VIEWPORT NO SE RENDERIZA */
  .billboard .billboard--container__notrender {
    opacity: 0;
  }
  .billboard {
    display: flex;
    flex-direction: column;
  }
  .billboard .billboard--container {
    transition: opacity 0.75s ease-in;
    flex-direction: row;
  }
  .billboard .billboard--container:hover {
    transform: scale(1, 1);
  }
  .billboard .billboard--container .billboard--poster {
    width: 50%;
    border-radius: 5px 0 0 5px;
  }
  .billboard .billboard--container .billboard--info {
    display: flex;
    width: 50%;
    margin: 1em;
  }
  .billboard--description {
    display: block;
  }
}
