@import "./index.css";

.buy-process-main-container {
  margin-top: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald", "Roboto";
  color: var(--white);
  user-select: none;
  background-color: transparent;
}

.buy-process-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
}

.buy-process-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: var(--grey);
}

.buy-process-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.buy-process-text {
  font-size: 1rem;
}

.logo {
  margin-top: 1rem;
  width: 7rem;
  height: 7rem;
  margin-bottom: 1rem;
}
