.edit-movie-main-container{
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald", "Roboto";
  color: white;
  user-select: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.admin-cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.admin-movie-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.admin-movie-card:hover{
  background-color: black;
  border-color: #9ecaed;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #9ecaed;
  transform: scale(1.1, 1.1);
  transition: .3s;
  animation: backAni 4s infinite alternate;
}

.admin-movie-img{
  border-radius: 1rem;
  margin: 1rem;
  width: 200px;
}