@import "../../../index.css";

.socialmedia--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 0;
  color: var(--white);
}

.socialmedia--logo {
  width: 4rem;
  margin: 0.5rem;
  transform: scale(1, 1);
  transition: all 0.3s;
}
.socialmedia--logo:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  filter: brightness(150%);
  transition: 0.3s;
}
