/* SHOW FILTERS */
.show--filters--container {
  color: var(--violet-white);
  font-family: "Oswald";
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: flex-start;
  margin: 1em 0;
  align-items: center;
  width: 60vw;
}
.show--filters {
  border: 2px solid var(--violet-white);
  font-size: 0.75em;
  border-radius: 0 10px 10px 0;
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: var(--white);
  background-color: var(--black);
}
.show--filters--title {
  width: 12em;
  padding: 0.5em;
  color: var(--white);
  text-align: center;
}
.show--filters--button {
  background-color: var(--violet-white);
  color: var(--black);
  padding: 0.5em;
  font-weight: bold;
  width: 100%;
  transition: 0.3s;
  font-family: "Oswald";
  border-radius: 0 5px 5px 0;
}
.show--filters--button:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
  border-radius: 0 10px 10px 0;
  /* background-color: var(--red); */
  transition: 0.3s;
}
.filters-error {
  color: var(--black);
  background-color: var(--white);
  padding: 0.5em;
}

/* MOBILE */
@media screen and (max-width: 540px) {
  .show--filters {
    width: 100%;
  }
}
