
.delete-product-button{
  font-family: "Oswald", "Roboto";
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 6rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  transition: all .5s;
  margin: 0.5rem;
}

.delete-product-button:hover{
  filter: brightness(150%);
  border: 2px solid transparent;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  transition: .5s;
}